.login-card {
  background-color: #786670;
  color: black;
  padding: 2rem;
  border-radius: 10px;
  min-height: 75vh; /* Increased height */
  width: 90%; /* Increased width */
}

.login-form-control {
  font-size: 25px;
  font-family: 'Kaisei HarunoUmi', serif;
  padding: 0.8rem;
  border-radius: 5px;
}

.login-btn-custom {
  background-color: white;
  color: black;
  padding: 1rem 2rem;
  font-size: 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.login-btn-custom:hover {
  background-color: #d3c4d3;
}

.login-text-center a {
  text-decoration: underline;
  color: black;
  font-size: 18px;
}
