.navbar-custom {
  background-color: #6b5b6b;
}

.brand-logo-img {
  height: 130px;

}

.navbar-nav .nav-link {
  color: black;
  font-weight: bold;
  margin-right: 15px;
  font-family: "Kaisei HarunoUmi";
  font-size: 25px;
}


