.navbar-custom {
  background-color: #6b5b6b;
  margin-bottom: 0; 
}

.brand-logo-img {
  height:130px;
  position: relative;
}

.navbar-nav .nav-link {
  color: black;
  font-weight: bold;
  margin-right: 15px;
  font-family: "Kaisei HarunoUmi";
  font-size: 23px;
}





