.card-container {
    gap: 100px;
    /* Adjust the gap value as needed */
}


.services-container {
    background-color: #E0E0E0;
}

.services-title {
    font-family: "Kaisei HarunoUmi";
}

.card-custom {
    width: 20rem;
    height: 32rem;
    background-color: #E0E0E0;
    border: none !important;
    font-family: "Kaisei HarunoUmi";

}

.card-img-custom {
    height: 22rem;
    object-fit: cover;
}

.book-appointment-btn-custom {
    background-color: #6E5473;
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 0%;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Kaisei HarunoUmi";
    justify-content: flex-start; /* Align button to the left */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}


